@media screen and (max-width: 1024px) {
    .box-businesses {
        flex-direction: column;
    }
    .wap-box-job {
        flex-direction: column;
    }
    .wap-2box-job {
        margin: 0 0 32px 0;
    }
    .section-job .titles-section {
        text-align: center;
    }
    .search-bar {
        display: none;
    }
    .list-reset>li:nth-child(2),
    .list-reset>li:nth-child(3) {
        display: none;
    }
    .list-reset {
        flex-grow: 1;
    }
    .site-footer-nav {
        width: 100%;
    }
    .wap-content-footer {
        flex-wrap: wrap;
    }
    .site-footer-copyright {
        width: 100%;
        margin-top: 20px;
    }
}