* {
    font: inherit;
    font-family: sans-serif;
    font-size: 13px;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
}

.wap-content {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.site-footer {
    background-color: #242729;
    width: 100%;
}

a {
    text-decoration: none;
}

.font-Robo {
    font-family: 'Roboto Slab', serif;
}

.font-Pro {
    font-family: 'Source Sans Pro', sans-serif;
}

.size-15 {
    font-size: 15px;
}

.mr-top-64 {
    margin-top: 64px;
}