.container-section {
    width: 100%;
}

.font-17 {
    font-size: 17px;
}

.para-section {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}

.highlight-link {
    color: #f48024;
}

.highlight-link-blu {
    color: #0077cc;
    font-size: 15px;
}

.titles-section {
    text-align: center;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 24px 0;
    font-weight: bold;
}

.line-section {
    width: 60px;
    height: 8px;
    background-color: #f48024;
    border-radius: 1000px;
    margin-bottom: 24px;
}

.content-section {
    font-size: 17px;
    width: 500px;
    text-align: center;
    margin-bottom: 48px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn {
    background-color: #f48024;
    color: white;
    padding: 12px 24px;
    border-radius: 3px;
    display: block;
    width: fit-content;
}