.section-developers {
    background-color: white;
    padding: 64px 0;
}

.container-section>.wap-content>p>a {
    font-size: 17px;
}

.option-developers {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.option-developers .box-option-developers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26.5%;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 7px;
    height: 100%;
    box-shadow: 0px 0px 13px -4px rgba(164, 176, 190, 1);
}

.option-developers .box-option-developers>h4 {
    font-size: 23px;
    margin: 16px 0 16px 0;
}

.option-developers .box-option-developers>p {
    text-align: center;
    margin: 0 0 30px 0;
}

.option-developers .box-option-developers .btn-qa {
    background-color: #f48024;
    color: white;
    padding: 12px 24px;
    border-radius: 3px;
}

.option-developers .box-option-developers:nth-child(odd)>a {
    background-color: #2b2d6e;
}

.option-developers .box-option-developers:nth-child(odd) {
    margin-top: 64px;
}

.option-developers .box-option-developers:hover {
    box-shadow: 0px 0px 17px -6px rgba(87, 96, 111, 1);
}