.section-job {
    padding: 128px 0;
    background-color: #e1ecf4;
    position: relative;
    box-sizing: border-box;
}

.section-job>.wap-content>h2 {
    width: 100%;
}

.section-job>img {
    width: 51px;
    position: absolute;
    right: 5%;
    bottom: -4px;
}

.section-job .titles-section {
    text-align: left;
}

.wap-box-job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wap-2box-job {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.box-job {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: white;
    border-radius: 7px;
    width: 100%;
    box-shadow: 0px 0px 31px -12px rgba(189, 195, 199, 1);
}

.box-job>img {
    width: 50px;
    margin-right: 16px;
}

.box-job .para-section {
    color: black;
}

.wap-2box-job>.font-Pro {
    height: fit-content;
}